<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1>Add New Member</h1>
        <h3 class="center">Add <%= familyName %> Family Member</h3>
        <div class="create-blog content">
            <form action="/members" method="POST">
                <input type="hidden" id="familyId" name="familyId" value="<%= familyId %>"" required>
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>"" required>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" required>
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastName" required>
                <label for="middleName">Middle Name</label>
                <input type="text" id="middleName" name="middleName">
                <label for="dob">Birth Date</label>
                <input type="date" id="dob" name="dob" >
                <label for="gender">Gender</label>
                <select name="gender">
                    <option value="None"></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" >
                <label for="email">Email</label>
                <input type="text" id="email" name="email" >
                <label for="title">Church Title</label>
                <select name="title">
                    <option value="0"></option>
                    <% if(churchTitles.length > 0) { %>
                        <% churchTitles.forEach(churchTitle => { %>
                        <option value="<%= churchTitle.constantId %>"><%= churchTitle.name %></option>
                        <% }) %>
                    <% } %>
                </select>

                <label for="membershipDate">Membership Since</label>
                <input type="date" id="membershipDate" name="membershipDate" >
                <label for="contactType">contact Type</label>
                <select name="contactType">
                    <option value="0"></option>
                    <% if(contactTypes.length > 0) { %>
                        <% contactTypes.forEach(contactType => { %>
                        <option value="<%= contactType.constantId %>"><%= contactType.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <input type="hidden" id="status" name="status" value="Active">
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>