<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <p>Add Member</p>
        <div class="create-blog content">
            <form action="/members" method="POST">
                <input type="hidden" id="familyId" name="familyId" value="<%= familyId %>"" required>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" required>
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" required>
                <label for="dob">Birth Date</label>
                <input type="date" id="dob" name="dob" >
                <label for="gender">Gender</label>
                <select name="gender">
                    <option value="None"></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" >
                <label for="email">Email</label>
                <input type="text" id="email" name="email" >
                <label for="title">Church Title</label>
                <select name="title">
                    <option value="None"></option>
                    <% if(ChurchTitles.length > 0) { %>
                        <% ChurchTitles.forEach(title => { %>
                        <option value="<% title %>"><%= title.name %></option>
                        <% }) %>
                    <% } %>
                </select>

                <label for="membershipDate">Membership Since</label>
                <input type="date" id="membershipDate" name="membershipDate" >
                <label for="contactType">contact Type</label>
                <input type="text" id="contactType" name="contactType" >
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>