<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h2><%= title %></h2>
            
                    <form action="/members/edited/<%= member._id %>" method="post">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" value="<%= member.firstName %>"" required>
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="lastname" value="<%= member.lastname %>"" required>
                        <label for="dob">Birth Date</label>
                        <input type="date" id="dob" name="dob" value="<%= member.dob %>"" >
                        <label for="gender">Gender</label>
                        <select name="gender">
                            <option <%= member.gender=="Male" ? "selected" : "" %> value="Male">Male</option> 
                            <option <%= member.gender=="Female" ? "selected" : "" %> value="Female">Female</option>
                        </select>
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" value="<%= member.phone %>"" >
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" value="<%= member.email %>"" >
                        <label for="title">Church Title</label>
                        <select name="title">
                            <% if(churchTitles.length > 0) { %>
                                <% churchTitles.forEach(churchTitle => { %>
                                <option value="<%= churchTitle.name %>"><%= churchTitle.name %></option>
                                <% }) %>
                            <% } %>
                        </select>
                        <label for="membershipDate">Membership Since</label>
                        <input type="date" id="membershipDate" name="membershipDate" value="<%= member.membershipDate %>"" >
                        <label for="contactType">contact Type</label>
                        <select name="title">
                            <% if(contactTypes.length > 0) { %>
                                <% contactTypes.forEach(contactType => { %>
                                <option value="<%= contactType.name %>"><%= contactType.name %></option>
                                <% }) %>
                            <% } %>
                        </select>
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>