<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h2><%= title %></h2>
            
                    <form action="/members/edited/<%= member.memberId %>" method="post">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" name="firstName" value="<%= member.firstName %>"" required>
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" value="<%= member.lastName %>"" required>
                        <label for="middleName">Middle Name</label>
                        <input type="text" id="middleName" name="middleName" value="<%= member.middleName %>"" required>
                        <label for="dob">Birth Date</label>
                        <input type="date" id="dob" name="dob" value="<%= member.dob.toISOString().substr(0,10) %>"" >
                        <label for="gender">Gender</label>
                        <select name="gender">
                            <option <%= member.gender=="Male" ? "selected" : "" %> value="Male">Male</option> 
                            <option <%= member.gender=="Female" ? "selected" : "" %> value="Female">Female</option>
                        </select>
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" value="<%= member.phone %>"" >
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" value="<%= member.email %>"" >
                        <label for="title">Church Title</label>
                        <select name="title">
                            <option value="0"></option>
                            <% if(churchTitles.length > 0) { %>
                                <% churchTitles.forEach(title => { %>
                                    <% if(title.constantId === member.title) { %>
                                        <option value= "<%= title.constantId %>" selected ><%= title.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= title.constantId %>"><%= title.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>     
                        <label for="membershipDate">Membership Since</label>
                        <input type="date" id="membershipDate" name="membershipDate" value="<%= member.membershipDate.toISOString().substr(0,10) %>"" >
                        <label for="contactType">contact Type</label>
                        <select name="contactType">
                            <option value="0"></option>
                            <% if(contactTypes.length > 0) { %>
                                <% contactTypes.forEach(contactType => { %>
                                    <% if(contactType.constantId === member.contactType) { %>
                                        <option value= "<%= contactType.constantId %>" selected ><%= contactType.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= contactType.constantId %>"><%= contactType.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>     
                        <label for="status">Status</label>
                        <select name="status">
                            <option value="None"></option>
                            <% if(status.length > 0) { %>
                                <% status.forEach(statuz => { %>
                                    <% if(statuz.name === member.status) { %>
                                        <option value= "<%= statuz.name %>" selected ><%= statuz.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= statuz.name %>"><%= statuz.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>     
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>