<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h2><%= constant.category %></h2>
            <div class="content" >
                <p><%= constant.name %></p>
            </div>
             <p>Are you sure you want to delete this record?</p>
            <form method="post" action="/constants/deleted/<%= constant.constantId %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Commit Delete</button>
                </form>
                <a href="/constants/<%= constant.constantId %>" >Cancel Delete</a>
        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>