<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h2><%= title %></h2>
            
                    <form action="/constants/edited/<%= constant._id %>" method="post">
                        <label for="cateory">Constant Category</label>
                        <input type="text" id="category" name="category" value="<%= constant.category %>"" required>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="<%= constant.name %>"" required>
                        <label for="value1">Value1</label>
                        <input type="text" id="value1" name="value1" value="<%= constant.value1 %>"" required>
                        <label for="value2">Value2</label>
                        <input type="text" id="value2" name="value2" value="<%= constant.value2 %>"" >
                        <label for="value3">Value3</label>
                        <input type="text" id="value3" name="value3" value="<%= constant.value3 %>"" >
                        <label for="sort">Sort</label>
                        <select name="sort">
                            <option <%= constant.sort==1 ? "selected" : "" %> value="1">1</option> 
                            <option <%= constant.sort==2 ? "selected" : "" %> value="2">2</option>
                            <option <%= constant.sort==3 ? "selected" : "" %> value="3">3</option>
                            <option <%= constant.sort==4 ? "selected" : "" %> value="4">4</option>
                            <option <%= constant.sort==5 ? "selected" : "" %> value="5">5</option>
                            <option <%= constant.sort==6 ? "selected" : "" %> value="6">6</option>
                            <option <%= constant.sort==7 ? "selected" : "" %> value="7">7</option>
                            <option <%= constant.sort==8 ? "selected" : "" %> value="8">8</option>
                            <option <%= constant.sort==9 ? "selected" : "" %> value="9">9</option>
                        </select>

                        <label for="status">Status</label>                      
                        <select id="status">
                            <option value="Active">Active</option>
                            <option value="Inactive">Not Active</option>
                        </select>
                        
                        <label for="enteredBy">Entered By</label>
                        <input type="text" id="enteredBy" name="enteredBy" value="<%= constant.enteredBy %>"" >
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>