<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <form action="/expenses" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <label for="fundId">Expense Type</label>
                <select name="fundId">
                    <option value="None"></option>
                    <% if(funds.length > 0) { %>
                        <% funds.forEach(fund => { %>
                        <option value="<%= fund.fundId %>"><%= fund.name %>(<%= fund.shortAccountName %>)</option>
                        <% }) %>
                    <% } %>
                </select>        
                <label for="payee">Payee</label>
                <input type="text" id="payee" name="payee" required>
                <label for="amount">Amount</label>
                <input type="number" id="amount" step="0.01" name="amount" >
                <label for="checkNumber">Check Number</label>
                <input type="text" id="checkNumber" name="checkNumber" >
                <label for="expenseDate">Date</label>
                <input type="date" id="expenseDate" name="expenseDate" value="<%= new Date().toISOString().substr(0,10) %>" required>
                <label for="comment">Comment</label>
                <input type="text" id="comment" name="comment" >
                <input type="hidden" id="status" name="status" value="Not Committed" >

                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>