<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h2><%= contribution.contributionType %></h2>
            <div class="content" >
                <p><%= contribution.amount %></p>
    
            <a class="edit blogs" href="/expenses/edit/<%= contribution._id %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/expenses/delete/<%= contribution._id %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>