<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h2>Add New Payee</h2>
        <div class="create-blog content">
            <form action="/payees" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <label for="name">Payee Name</label>
                <input type="text" id="name" name="name" required>
                <label for="fundId">Fund</label>
                <select name="fundId">
                    <option value="None"></option>
                    <% if(funds.length > 0) { %>
                        <% funds.forEach(fund => { %>
                        <option value="<%= fund.fundId %>"><%= fund.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="typeId">Type</label>
                <select name="typeId">
                    <option value="None"></option>
                    <% if(types.length > 0) { %>
                        <% types.forEach(type => { %>
                        <option value="<%= type.constantId %>"><%= type.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="frequencyId">Frequency</label>
                <select name="frequencyId">
                    <option value="None"></option>
                    <% if(frequencies.length > 0) { %>
                        <% frequencies.forEach(frequency => { %>
                        <option value="<%= frequency.constantId %>"><%= frequency.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="accountNumber">Account #</label>
                <input type="text" id="accountNumber" name="accountNumber" >
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" > 
                <label for="email">Email</label>
                <input type="text" id="email" name="email" >
                <label for="url">URL</label>
                <input type="text" id="url" name="url" >
                <label for="description">Description</label>
                <input type="text" id="description" name="description" >
                <input type="hidden" id="status" name="status" value="Active" >
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>