<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h2>Payee Details</h2>
        <div class="details content">
            <div class="content" >
                <p><%= payee.payee %> <%= payee.fund.name %>
    
            <a href="/payees/edit/<%= payee._id %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a href="/payees/delete/<%= payee._id %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    </p>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>