<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <div class="content" >
                <h3><%= announcement.title %>(<%= announcement.startDate.toLocaleDateString()==announcement.endDate.toLocaleDateString()  ? announcement.startDate.toLocaleDateString() : ((announcement.startDate.toLocaleDateString()).toString() + " - " +  (announcement.endDate.toLocaleDateString()).toString()) %>)</h3>
            <a class="edit blogs" href="/announcements/edit/<%= announcement.announcementId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/announcements/delete/<%= announcement.announcementId %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>