<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          
        <div class="blogs content">
            <h1><%= global.churchName %></h1>
            <a href="/announcements/create/<%= churchId %>">Add New Announcement</a>
            <h2>All Announcements</h2>
            <% if(announcements === null) { %>
                <p>No announcements data available</p>
               <% } else { %>
                <% if(announcements.length > 0) { %>
                    <% announcements.forEach(announcement => { %>
                        <a class="single" href="/announcements/<%= announcement.announcementId %>" >
                    <h3><%= announcement.title %> (<%= announcement.startDate.toLocaleDateString()==announcement.endDate.toLocaleDateString()  ? announcement.startDate.toLocaleDateString() : ((announcement.startDate.toLocaleDateString()).toString() + " - " +  (announcement.endDate.toLocaleDateString()).toString()) %>)</h3>
                    </a>
                    <% }) %>
                <% } %>
           <% } %>
            
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>