<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          
        <div class="blogs content">
            <h1><%= churchName %></h1>
            <a href="/announcements/create/<%= churchId %>">Add New Announcement</a>
            <h2>All Announcements</h2>
            <% if(announcements === null) { %>
                <p>No announcements data available</p>
               <% } else { %>
                <% if(announcements.length > 0) { %>
                    <% announcements.forEach(announcement => { %>
                        <a class="single" href="/announcements/<%= announcement._id %>" >
                    <h3 class="title"><%= announcement.title %> </h3>
                    <p class="snippet"><%= announcement.calendarId %></p>
                    </a>
                    <% }) %>
                <% } %>
           <% } %>
            
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>