<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h1><%= global.churchName %></h1>
            <h2><%= pledge.firstName %> <%= pledge.lastName %></h2>
            <div class="content" >
                <p><%= pledge.fund %></p>
                <p><%= pledge.amount %></p>
    
            <a class="edit blogs" href="/pledges/edit/<%= pledge.pledgeId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/pledges/delete/<%= pledge.pledgeId %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>