<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h2>Add New Ministry</h2>
        <div class="create-blog content">
            <form action="/ministries" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <label for="name">Ministry Name</label>
                <input type="text" id="name" name="name" required>
                <label for="description">Description</label>
                <textarea type="text" id="description" name="description" cols="40" rows="5"></textarea>
                <label for="contact">Contact</label>
                <input type="text" id="contact" name="contact" >
                <label for="email">Email</label>
                 <input type="email" id="email" name="email" >
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" >
                <input type="hidden" id="status" name="status" value="Active" >
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>