<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h1><%= global.churchName %></h1>
            <h2><%= ministry.name %></h2>
            <div class="content" >
                <p><%= ministry.contact %></p>
            </div>
             <p>Are you sure you want to delete this record?</p>
            <form method="post" action="/ministries/deleted/<%= ministry._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Commit Delete</button>
                </form>
                <a href="/ministries" >Cancel Delete</a>
        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>