<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h1><%= global.churchName %></h1>
            <h2><%= ministry.name %></h2>
            <div class="content" >
                <p><%= ministry.contact %></p>
    
            <a class="edit blogs" href="/ministries/edit/<%= ministry.ministryId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/ministries/delete/<%= ministry.ministryId %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
        <a href="/stories/created/<%= ministry.ministryId %>">Add New story</a>"
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>