<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h1><%= global.churchName %></h1>
            <h2><%= title %></h2>
            
                    <form action="/ministries/edited/<%= ministry.ministryId %>" method="post">
                        <label for="parentMinistryId">Parent Ministry</label>
                        <select name="parentMinistryId">
                            <option value="0"></option>
                            <% if(parentMinistries.length > 0) { %>
                                <% parentMinistries.forEach(parent => { %>
                                    <% if(parent.ministryId === ministry.ministryId) { %>
                                        <option value= "<%= parent.ministryId %>" selected ><%= parent.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= parent.ministryId %>"><%= parent.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>     
                        <label for="name">Ministry Name</label>
                        <input type="text" id="name" name="name" value="<%= ministry.name %>"" required>
                        <label for="description">Description</label>
                        <textarea id="description"><%= ministry.description %></textarea>
                        <label for="contact">Contact</label>
                        <input type="text" id="contact" name="contact" value="<%= ministry.contact %>"" required>
                        <label for="email">Email Address</label>
                        <input type="text" id="email" name="email" value="<%= ministry.email %>"" >
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" value="<%= ministry.phone %>"" >
                        <label for="MissionStatement">Mission Statement</label>
                        <textarea id="MissionStatement"><%= ministry.missionStatement %></textarea>
                        <label for="status">Status</label>
                        <select name="status">
                            <option value="None"></option>
                            <% if(status.length > 0) { %>
                                <% status.forEach(statuz => { %>
                                    <% if(statuz.name === ministry.status) { %>
                                        <option value= "<%= statuz.name %>" selected ><%= statuz.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= statuz.name %>"><%= statuz.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>     
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>