<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h2><%= goal.ministry.name %> Goal(s)</h2>
        <h2></h2>
        <div class="details content">
            <h2></h2>
            <div class="content" >
                <p><%= goal.year %> - <%= goal.goal %> - 
    
            <a  href="/goals/edit/<%= goal._id %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a  href="/goals/delete/<%= goal._id %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    </p>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>