<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <form action="/roles" method="POST">
                <label for="userId">User</label>
                <select id="userId">
                    <% if(users.length > 0) { %>
                        <% users.forEach(user => { %>
                        <option value="<%= user._id %>"><%= user.email %></option>
                        <% }) %>
                    <% } %>
                </select>

                <label for="roleId">Role</label>
                <select id="roleId">
                    <% if(roleTypes.length > 0) { %>
                        <% roleTypes.forEach(roleType => { %>
                        <option value="<%= roleType._id %>"><%= roleType.name %></option>
                        <% }) %>
                    <% } %>
                </select>

                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>