<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        
        <div class="create-blog content">
           <p>Add Role(s) for this user <%= user.email %> </p>
            <form action="/roles/edited/<%= user._id %>" method="POST">
                <label for="roleName">Role</label>
                <select name="roleName">
                    <% if(roleTypes.length > 0) { %>
                        <% roleTypes.forEach(roleType => { %>
                        <option value="<%= roleType.name %>"><%= roleType.name %></option>
                        <% }) %>
                    <% } %>
                </select>

                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>