<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h2>Add New Property</h2>
        <div class="create-blog content">
            <form action="/stories" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <input type="hidden" id="ministryId" name="ministryId" value="<%= ministryId %>">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" >
                <label for="subTitle">SubTitle</label>
                <input type="text" id="subTitle" name="subTitle" >
                <label for="intro">Intro</label>
                <textarea type="text" id="intro" name="intro" cols="40" rows="3"></textarea>
                <label for="story">Story</label>
                <textarea type="text" id="story" name="story" cols="40" rows="7"></textarea>
    
                <label for="publishedStartDate">Published Start Date</label>
                <input type="date" id="publishedStartDate" name="publishedStartDate" value="<%= new Date() %>">  
                <label for="publishedEndDate">Published End Date</label>
                <input type="date" id="publishedEndDate" name="publishedEndDate" value="<%= new Date() %>">
                <label for="author">Author</label>
                <input type="text" id="author" name="author" >
                <input type="hidden" id="status" name="status" >
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>