<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1>Add New Fund</h1>
        <div class="create-blog content">
            <form action="/funds" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <label for="bank">Bank</label>
                <select name="bankId">
                    <option value="0"></option>
                    <% if(banks.length > 0) { %>
                        <% banks.forEach(bank => { %>
                        <option value="<%= bank.bankId %>"><%= bank.accountName %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="typeId">Type</label>
                <select name="typeId">
                    <option value="0"></option>
                    <% if(fundTypes.length > 0) { %>
                        <% fundTypes.forEach(type => { %>
                        <option value="<%= type.constantId %>"><%= type.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>  
                <label for="categoryId">Category</label>
                <select name="categoryId">
                    <option value="0"></option>
                    <% if(categories.length > 0) { %>
                        <% categories.forEach(category => { %>
                        <option value="<%= category.constantId %>"><%= category.name %></option>
                        <% }) %>
                    <% } %>
                </select>             
                <label for="description">Description</label>
                <input type="text" id="description" name="description" >
                <label for="isBudgeted">Is Budgeted</label>
                <input type="checkbox" id="isBudgeted" name="isBudgeted" checked="true" value="true">
                <input type="hidden" id="status" name="status" value="Active">
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>