<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <form action="/bankBalances" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <input type="hidden" id="bankId" name="bankId" required>
                <label for="bank">Bank</label>
                <select name="bank">
                    <option value="None"></option>
                    <% if(banks.length > 0) { %>
                        <% banks.forEach(bank => { %>
                        <option value="<%= bank._id %>"><%= bank.accountName %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="beginDate">Begin Date</label>
                <input type="date" id="beginDate" name="beginDate" required>
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" name="endDate" >
                <label for="beginBalance">Begin Balance</label>
                <input type="text" id="beginBalance" name="beginBalance" required>
                <label for="endBalance">End Balance</label>
                <input type="text" id="endBalance" name="endBalance" required>

                <label for="income">Income</label>
                <input type="text" id="income" name="income" required>
                <label for="expense">Expense</label>
                <input type="text" id="expense" name="expense" required>
                <label for="revenueAmount">Revenue Amount</label>
                <input type="text" id="revenueAmount" name="revenueAmount" required>
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>