<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h1><%= global.churchName %></h1>
            <h2><%= title %></h2>
            <h2><%= bill.name %></h2>
            <div class="content" >
                <p><%= bill.totalAmount %></p>
    
            <a class="edit blogs" href="/bills/edit/<%= bill.billId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/bills/delete/<%= bill.billId %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>