<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          
        <div class="blogs content">
            <h1><%= global.churchName %></h1>
            <a href="/tableData/create/<%= tableId %>">Add New Table</a>
            <h2>Data List</h2>
            <!-- <% if( tableData === null) { %>
                <p>No table available</p>
               <% } else { %>
                <% if(tableData.length > 0) { %>
                    <% tableData.forEach(tableData => { %>
                        <a class="single" href="/tableData/<%= tableData.tableDataId %>" >
                    <h3 class="title"><%= tableData.value1 %></h3>
                            </a>
                    <% }) %>
                <% } %>
           <% } %> -->
            
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>