<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h2><%= title %></h2>
            
                    <form action="/families/edited/<%= family._id %>" method="post">
                        <label for="familyName">Family Name</label>
                        <input type="text" id="familyName" name="familyName" value="<%= family.familyName %>"" required>
                        <label for="address1">Address1</label>
                        <input type="text" id="address1" name="address1" value="<%= family.address1 %>"" required>
                        <label for="address2">Address2</label>
                        <input type="text" id="address2" name="address2" value="<%= family.address2 %>"" required>
                        <label for="city">City</label>
                        <input type="text" id="city" name="city" value="<%= church.city %>"" >
                        <label for="state">State</label>
                        <input type="text" id="state" name="state" value="<%= church.state %>"" >
                        <label for="zipcode">Zip Code</label>
                        <input type="text" id="zipcode" name="zipcode" value="<%= church.zipcode %>"" >
                        <label for="country">Country</label>
                        <input type="text" id="country" name="country" value="<%= church.country %>"" >
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>