<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          <p>Select a family or add new family.</p>
        <div class="blogs content">
            <a href="/families/create/<%= church %>">Add Family</a>
            <h2>All Families</h2>
            <% if(families !== undefined) { %>
                <p>No families data available</p>
               <% } else { %>
                <% if(families.length > 0) { %>
                    <% families.forEach(family => { %>
                        <a class="single" href="/families/<%= family._id %>" >
                    <h3 class="title"><%= family.familyName %> (<%= family.familyPatriots %>) </h3>
                    <p class="snippet"></p>
                    <a href="/members/create/<%= family._id %>">Add Family Member</a>
                    </a>
                    <% }) %>
                <% } %>
           <% } %>
            
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>