<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <form action="/contributions" method="POST">
                <input type="hidden" id="memberId" name="memberId" required value="<%= memberId %>"" required>
                <label for="contributionTypeId">Fund</label>
                <select name="contributionType">
                    <option value="None"></option>
                    <% if(contributionTypes.length > 0) { %>
                        <% contributionTypes.forEach(contributionType => { %>
                        <option value="<%= contributionType._id %>"><%= contributionType.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="contributionDate">Date</label>
                <input type="date" id="contributionDate" name="contributionDate" required>
                <label for="amount">Amount</label>
                <input type="text" id="amount" name="amount" required >
                <label for="checkNumber">Check Number</label>
                <input type="text" id="checkNumber" name="checkNumber" >
                <label for="comment">Comment</label>
                <input type="textbox" id="comment" name="comment" >
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>