<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h1><%= global.churchName %></h1>
            <h2>Edit Contribution</h2>
            <form action="/contributions/edited/<%= contribution.contributionId %>" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= contribution.churchId %>"" required>
                <input type="hidden" id="memberId" name="memberId" required value="<%= contribution.memberId %>"" required>
                <label for="typeId">Fund</label>
                <select name="typeId">
                    <option value="None"></option>
                    <% if(contributionTypes.length > 0) { %>
                        <% contributionTypes.forEach(contributionType => { %>
                            <% if(contributionType.constantId === contribution.typeId) { %>
                                <option value= "<%= contributionType.constantId %>" selected ><%= contributionType.name %></option> 
                                <% } else { %>
                                  <option value= "<%= contributionType.constantId %>"><%= contributionType.name %></option> 
                            <% } %>
                        <% }) %>
                    <% } %>
                </select>
                <label for="contributionDate">Date</label>
                <input type="date" id="contributionDate" name="contributionDate" value="<%= contribution.contributionDate.toISOString().substr(0,10) %>"" required>
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" step="any" value="<%= contribution.amount %>"" required >
                <label for="checkNumber">Check Number</label>
                <input type="text" id="checkNumber" name="checkNumber" value="<%= contribution.checkNumber %>"" >
                <label for="comment">Comment</label>
                <input type="textbox" id="comment" name="comment" value="<%= contribution.comment %>"" >
                <label for="enteredBy">Entered By</label>
                <input type="text" id="enteredBy" name="enteredBy" value="<%= contribution.enteredBy %>"" readonly>
                <label for="dateEntered">Date Entered</label>
                <input type="text" id="dateEntered" name="dateEntered" value="<%= contribution.dateEntered.toLocaleDateString() %>"" readonly>
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>