<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          
        <div class="blogs content">
            <h1><%= global.churchName %></h1>
            <h2>All Members</h2>
            <% if(members === null) { %>
                <p>No members data available</p>
               <% } else { %>
                <% if(members.length > 0) { %>
                    <% members.forEach(member => { %>
                        <a class="single" href="/contributions/create/<%= member.memberId %>" ><%= member.lastName %>, <%= member.firstName %></a>                  
                    <% }) %>
                <% } %>
           <% } %>
           <% if(contributionList === null) { %>
            <p>No contributions data available</p>
           <% } else { %>
            <% if(contributionList.length > 0) { %>
                <% contributionList.forEach(contribution => { %>
                    <a class="single" href="/contributions/edit/<%= contribution.contributionId %>" >
                        <%= contribution.lastName %>, <%= contribution.firstName %> <%= contribution.middleName %>
                        <%= contribution.fundtype %> <%= contribution.amount %> <%= contribution.contributionDate.toLocaleDateString() %>
                    </a>                  
                <% }) %>
            <% } %>
       <% } %>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>