<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h1><%= global.churchName %></h1>
            <h2>Add New Calendar</h2>
            <form action="/calendars" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
                <label for="startDate">Start Date</label>
                <input type="datetime-local" id="startDate" name="startDate" value="<%= new Date().toISOString().substr(0,10) %>" >
                <label for="endDate">End Date</label>
                <input type="datetime-local" id="endDate" name="endDate" value="<%= new Date().toISOString().substr(0,10) %>" >
                <label for="access">Access By</label>
                <select name="access" onchange="showMinistry(this);">
                    <option value="0"></option>
                    <% if(access.length > 0) { %>
                        <% access.forEach(acces => { %>
                        <option value="<%= acces.constantId %>"><%= acces.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <div id="ministryDiv">
                <label>Select Host Ministries:</label>
                <label for="ministry1">Ministry 1</label>
                <select name="ministry1">
                    <option value="0"></option>
                    <% if(ministries.length > 0) { %>
                        <% ministries.forEach(ministry => { %>
                        <option value="<%= ministry.ministryId %>"><%= ministry.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="ministry2">Ministry 2</label>
                <select name="ministry2">
                    <option value="0"></option>
                    <% if(ministries.length > 0) { %>
                        <% ministries.forEach(ministry => { %>
                        <option value="<%= ministry._id %>"><%= ministry.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="ministry3">Ministry 3</label>
                <select name="ministry3">
                    <option value="0"></option>
                    <% if(ministries.length > 0) { %>
                        <% ministries.forEach(ministry => { %>
                        <option value="<%= ministry.ministryId %>"><%= ministry.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                </div>              
                <label for="url">URL</label>
                <input type="text" id="url" name="url" placeholder="Optional" >
                <label for="description">Description</label>
                <input type="text" id="description" name="description" >
                <label for="venue">Location</label>
                <select name="venue">
                    <option value="0"></option>
                    <% if(venues.length > 0) { %>
                        <% venues.forEach(venue => { %>
                        <option value="<%= venue.constantId %>"><%= venue.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <input type="hidden" id="status" name="status"  value="Active" >
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>

        <script type="text/javascript">
            function showMinistry(sel)
            {
                var n = sel.options[sel.selectedIndex].text;
                var x = document.getElementById("ministryDiv");
                if (n === "Ministry") {
                    x.style.display = "block";
                } else {
                    x.style.display =  "none";
  }
            }
            </script>
    </body>

</html>