<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
           <h2><%= calendar.title %>(<%= calendar.startDate.toLocaleDateString()==calendar.endDate.toLocaleDateString()  ? calendar.startDate.toLocaleDateString() : calendar.startDate.toLocaleDateString() - calendar.endDate.toLocaleDateString() %>)</h2> 

            <a class="edit blogs" href="/calendars/edit/<%= calendar.calendarId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/calendars/delete/<%= calendar.calendarId %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>