<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          
        <div class="blogs content">
            <h1><%= global.churchName %></h1>
            <a href="/calendars/create/<%= churchId %>">Add New Calendar</a>
            <h2>Calendar List</h2>
            <% if( calendars === null) { %>
                <p>No calendar data available</p>
               <% } else { %>
                <% if(calendars.length > 0) { %>
                    <% calendars.forEach(calendar => { %>
                        <a class="single" href="/calendars/<%= calendar.calendarId %>" >
                    <h3><%= calendar.title %> (<%= calendar.startDate.toLocaleDateString()==calendar.endDate.toLocaleDateString()  ? calendar.startDate.toLocaleDateString() : ((calendar.startDate.toLocaleDateString()).toString() + " - " +  (calendar.endDate.toLocaleDateString()).toString()) %>)</h3>
                    <% }) %>
                <% } %>
           <% } %>
            
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>