<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h2>Add New Property</h2>
        <div class="create-blog content">
            <form action="/properties" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <input type="hidden" id="pictureId" name="pictureId">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" >
                <label for="purchaseDate">Purchase Date</label>
                <input type="date" id="purchaseDate" name="purchaseDate" value="<%= new Date() %>">
                <label for="value">Value</label>
                <input type="number" id="value" name="value" step="any" placeholder="0.00">
                <label for="quantity">Quantity</label>
                <input type="text" id="quantity" name="quantity" >
                <label for="location">Location</label>
                <input type="text" id="location" name="location" >
                <label for="assignedTo">Assigned To</label>
                <input type="text" id="assignedTo" name="assignedTo" >
                <label for="assignedDate">Assigned Date</label>
                <input type="date" id="assignedDate" name="assignedDate" value="<%= new Date() %>">
                <label for="conditionType">Condition</label>
                <select name="conditionType">
                    <option value="None"></option>
                    <% if(conditions.length > 0) { %>
                        <% conditions.forEach(condition => { %>
                        <option value="<%= condition.constantId %>"><%= condition.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="tagNumber">Tag Number</label>
                <input type="text" id="tagNumber" name="tagNumber" >
                <label for="description">Description</label>
                <input type="text" id="description" name="description" >
                <label for="comment">Comment</label>
                <input type="text" id="comment" name="comment" >
                <input type="hidden" id="lastInventoryDate" name="lastInventoryDate">
                <input type="hidden" id="status" name="status" value="Active">
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>