<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h1><%= global.churchName %></h1>
            <h2>Edit Attendance: <%= attendance.title %></h2>
            
                    <form action="/attendances/edited/<%= attendance.attendanceId %>" method="post">                        
                       <input type="hidden" id="attendanceId" name="attendanceId" value="<%= attendance.attendanceId %>">
                       <input type="hidden" id="calendarId" name="calendarId" value="<%= attendance.calendarId %>">
                       <input type="hidden" id="churchId" name="churchId" value="<%= attendance.churchId %>">  
                       <label for="memberId">Member</label>
                        <select name="memberId">
                            <option value="0"></option>
                            <% if(memberList.length > 0) { %>
                                <% memberList.forEach(member => { %>
                                    <% if(member.memberId === attendance.memberId) { %>
                                        <option value= "<%= member.memberId %>" selected ><%= member.firstName %> <%= member.middleName %> <%= member.lastName %></option> 
                                        <% } else { %>
                                          <option value= "<%= member.memberId %>"><%= member.firstName %> <%= member.middleName %> <%= member.lastName %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select> 
                        <label for="startDate">Date</label>
                        <input type="date" id="startDate" name="startDate" value="<%= attendance.startDate.toISOString().substr(0,10) %>"" required>
                        <label for="roll">Roll</label>
                        <% if(attendance.roll === 1) { %>
                            <input type="checkbox" id="roll" name="roll" checked="true" value="true" >
                            <% } else { %>
                                <input type="checkbox" id="roll" name="roll" value="<%= attendance.roll %>"" >
                        <% } %>
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>