<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h1><%= global.churchName %></h1>
            <h2>Add Income</h2>
            <form action="/incomes" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <label for="fundId">Fund</label>
                <select name="fundId">
                    <option value="0"></option>
                    <% if(funds.length > 0) { %>
                        <% funds.forEach(fund => { %>
                        <option value="<%= fund.fundId %>"><%= fund.name %>(<%= fund.shortAccountName %>)</option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="incomeDate">Date</label>
                <input type="date" id="incomeDate" name="incomeDate" value="<%= new Date().toISOString().substr(0,10) %>" required>
                <label for="cashAmount">Cash Amount</label>
                <input type="number" id="cashAmount" name="cashAmount" step="any" placeholder="0">
                <label for="checkAmount">Check Amount</label>
                <input type="number" id="checkAmount" name="checkAmount" step="any" placeholder="0">
                <label for="coinAmount">Coin Amount</label>
                <input type="number" id="coinAmount" name="coinAmount" step="any" placeholder="0">
                <label for="total">Total</label>
                <input type="number" id="total" name="total"  readonly>
                <label for="comment">Comment</label>
                <input type="text" id="comment" name="comment" >
                <input type="hidden" id="status" name="status" value="Not Committed">
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
        <script type="text/javascript">
            let cash = document.getElementById("cashAmount");
            let check = document.getElementById("checkAmount");
            let coin = document.getElementById("coinAmount");

            cash.addEventListener('change', function () {
                setTotal(cash, check, coin);
            });
            check.addEventListener('change', function () {
                setTotal(cash, check, coin);
            });
            coin.addEventListener('change', function () {
                setTotal(cash, check, coin);
            });

            function setTotal(cash, check, coin)
            {
                if(cash.value.length == 0){
                  cash.value = 0;
                }
                if(check.value.length == 0){
                  check.value = 0;
                }
                if(coin.value.length == 0){
                  coin.value = 0;
                }

                var total = document.getElementById("total");
                total.value =  parseFloat(cash.value) + parseFloat(check.value) + parseFloat(coin.value);
            }
            </script>
    </body>

</html>