<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h2><%= global.churchName %></h2>
            <h2><%= title %></h2>
            
                    <form action="/incomes/edited/<%= income.incomeId %>" method="post">
                        <input type="hidden" id="churchId" name="churchId" value="<%= income.churchId %>"">         
                        <label for="fundId">Income Type</label>
                        <select name="fundId">
                            <option value="0"></option>
                            <% if(funds.length > 0) { %>
                                <% funds.forEach(fund => { %>
                                    <% if(fund.fundId === income.fundId) { %>
                                        <option value= "<%= fund.fundId %>" selected ><%= fund.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= fund.fundId %>"><%= fund.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                        <label for="incomeDate">Date</label>
                        <input type="date" id="incomeDate" name="incomeDate" value="<%= income.incomeDate.toISOString().substr(0,10) %>"" required>
                        <label for="cashAmount">Cash Amount</label>
                        <input type="number" id="cashAmount" name="cashAmount" step="any" value="<%= income.cashAmount %>"" onchange="myFunction()">
                        <label for="checkAmount">Check Amount</label>
                        <input type="number" id="checkAmount" name="checkAmount" step="any" value="<%= income.checkAmount %>"" onchange="myFunction()">
                        <label for="coinAmount">Coin Amount</label>
                        <input type="number" id="coinAmount" name="coinAmount" step="any" value="<%= income.coinAmount %>"" onchange="myFunction()">
                        <label for="total">Total</label>
                        <input type="text" id="total" name="total" value="<%= income.total %>"" readonly>
                        <label for="comment">Comment</label>
                        <input type="text" id="comment" name="comment" value="<%= income.comment %>"" >
                        <label for="status">Status</label>
                        <input type="text" id="status" name="status" value="<%= income.status %>"" readonly >
                        <label for="enteredBy">Entered By</label>
                        <input type="text" id="enteredBy" name="enteredBy" value="<%= income.enteredBy %>"" readonly >
                        <label for="dateEntered">Date Entered</label>
                        <input type="date" id="dateEntered" name="dateEntered" value="<%= income.dateEntered.toISOString().substr(0,10) %>"" readonly>

                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

        <script type="text/javascript">
            let cash = document.getElementById("cashAmount");
            let check = document.getElementById("checkAmount");
            let coin = document.getElementById("coinAmount");

            cash.addEventListener('change', function () {
                setTotal(cash, check, coin);
            });
            check.addEventListener('change', function () {
                setTotal(cash, check, coin);
            });
            coin.addEventListener('change', function () {
                setTotal(cash, check, coin);
            });

            function setTotal(cash, check, coin)
            {
                if(cash.value.length == 0){
                  cash.value = 0;
                }
                if(check.value.length == 0){
                  check.value = 0;
                }
                if(coin.value.length == 0){
                  coin.value = 0;
                }

                var total = document.getElementById("total");
                total.value =  parseFloat(cash.value) + parseFloat(check.value) + parseFloat(coin.value);
            }
        </script>
    
    </body>

</html>