<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          
        <div class="blogs content">
            <a href="/incomes/create/<%= churchId %>">Add Income</a>
            <h2>All Incomes</h2>
            <% if(incomes !== undefined ) { %>
                <p>No incomes data available</p>
               <% } else { %>
                <% if(incomes.length > 0) { %>
                    <% incomes.forEach(income => { %>
                        <a class="single" href="/incomes/<%= income._id %>" >
                    <h3 class="title"><%= income.cashAmount %> </h3>
                    <p class="snippet"><%= income.checkNumber %></p>
                    </a>
                    <% }) %>
                <% } %>
           <% } %>
            
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>