<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h2><%= church.name %></h2>
            <div class="content" >
                <p><%= church.title %></p>
            </div>
             <p>Are you sure you want to delete this record?</p>>
            <form method="post" action="/churches/deleted/<%= church._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Commit Delete</button>
                </form>
                <a href="/churches" >Cancel Delete</a>
        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>