<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h2><%= church.name %></h2>
            <div class="content" >
                <p><%= church.title %></p>
    
            <a class="edit blogs" href="/churches/edit/<%= church._id %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/churches/delete/<%= church._id %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
                <a href="/churches/church/branch/<%= church._id %>">Add New Church Branch</a>|
                <a href="/members/church/<%= church._id %>">Members</a>|
                <a href="/contributions/church/<%= church._id %>">Contributions</a>|
                <a href="/constants/church/<%= church._id %>">Constant</a>|
                <a href="/funds/church/<%= church._id %>">Funds</a>|
                <a href="/banks/church/<%= church._id %>">Banks</a>|
                <a href="/bankBalances/church/<%= church._id %>">Bank Balance</a>|
                <a href="/incomes/church/<%= church._id %>">Income</a>|
                <a href="/expenses/church/<%= church._id %>">Expense</a>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>