<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="body1_NavHeaderBody3SectionFooter">
        <aside class="aside1">
            <h2>Aside</h2>
            <a href="/churches/branch/<%= church.churchId %>">Church Branch</a>|
                <a href="/members/church/<%= church.churchId %>">Members</a>|
                <a href="/contributions/church/<%= church.churchId %>">Contributions</a>|
                <a href="/constants/church/<%= church.churchId %>">Constant</a>|
                <a href="/funds/church/<%= church.churchId %>">Funds</a>|
                <a href="/banks/church/<%= church.churchId %>">Banks</a>|
                <a href="/bankBalances/church/<%= church.churchId %>">Bank Balance</a>|
                <a href="/incomes/church/<%= church.churchId %>">Income</a>|
                <a href="/expenses/church/<%= church.churchId %>">Expense</a>|
                <a href="/budgets/church/<%= church.churchId %>">Budget</a> |
                <a href="/ministries/church/<%= church.churchId %>">Ministry</a>|
                <a href="/calendars/church/<%= church.churchId %>">Calendar</a> |
                <a href="/announcements/church/<%= church.churchId %>">Announcement</a> |
                <a href="/events/church/<%= church.churchId %>">Event</a> |
                <a href="/visitors/church/<%= church.churchId %>">Visitor</a> |
                <a href="/goals/church/<%= church.churchId %>">Goal</a> |
                <a href="/payees/church/<%= church.churchId %>">Payee</a> |
                <a href="/pledges/church/<%= church.churchId %>">Pledge</a> |
                <a href="/properties/church/<%= church.churchId %>">Property</a> |
                <a href="/staffs/church/<%= church.churchId %>">Staff</a> |
                <a href="/stories/church/<%= church.churchId %>">Story</a> |
                <a href="/bills/church/<%= church.churchId %>">Bill</a> |
                <a href="/tableheaders/church/<%= church.churchId %>">Table</a>
                
        </aside>
        <header class="header1">
            
            <h2><%= global.churchName %></h2>
            <p><%= church.title %></p>
        </header>
        <main class="main1">
            <h2>Main</h2>
            <a href="/churches/edit/<%= church.churchId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>

             <div>
                <% if(branches === undefined) { %>
                    <p>No church branch available</p>
                   <% } else { %>
                    <% if(branches.length != 0) { %>
                        <span><br>Branches:</span>
                        <% branches.forEach(church => { %>
                            <a class="single" href="/churches/<%= church.churchId %>" >
                        <p class="title"><%= church.name %> (<%= church.city %>) </p>
                        </a>
                        <% }) %>
                    <% } %>
               <% } %>
            </div>
        </main>
        <section class="section11">
            <h2>Section 1</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, nisi sint ipsam possimus dolor delectus soluta facilis ea eius ad magnam vero architecto voluptate maxime?
            <!-- <a  href="/churches/edit/<%= church.churchId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a  href="/churches/delete/<%= church.churchId %>">
            <img src="/trashcan.svg" alt="delete icon"> -->
        </section>
        <section class="section12">
            <h2>section 2</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quod possimus, consectetur quas id ea hic odio itaque iure ratione repellendus! Culpa aperiam doloribus, ipsam tempora nostrum vero. Dicta, aliquam!
        </section>
        <section class="section13">
            <h2>section 3</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit alias error accusamus accusantium aperiam quae harum nisi molestias, animi dolorem maiores laudantium facere modi consequatur!
        </section>
        <div class="footer1">
            <p>The cat is walking all over the plaec!</p>>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    </body>

</html>