<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h2><%= title %></h2>
            
                    <form action="/banks/edited/<%= bank.bankId %>" method="post">
                         <label for="accountName">Account Name</label>
                        <input type="text" id="accountName" name="accountName" value="<%= bank.accountName %>"" required>                        
                        <label for="accountNumber">Account Number</label>
                        <input type="text" id="accountNumber" name="accountNumber" value="<%= bank.accountNumber %>"" required>
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" value="<%= bank.description %>"" required>                        
                        <label>Is Budgeted<input type="checkbox" id="isBudgeted" name="isBudgeted" <%= bank.isBudgeted.check ? "checked" : null %> ></label>
                        <label for="status">Status</label>
                        <select name="status">
                            <option value="None"></option>
                            <% if(status.length > 0) { %>
                                <% status.forEach(statuz => { %>
                                    <% if(statuz.name === bank.status) { %>
                                        <option value= "<%= statuz.name %>" selected ><%= statuz.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= statuz.name %>"><%= statuz.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>