<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h1><%= global.churchName %></h1>
            <h1>Add <%= fundType %> Budget</h1>
            <form action="/budgets" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <input type="hidden" id="typeId" name="typeId" value="<%= fundTypeId %>">
                <!-- <label for="type">Budget Type</label>
                <input type="text" id="type" name="type" value="<%= fundType %>" readonly> -->
                <label for="fundId">Fund</label>
                <select name="fundId">
                    <option value="0"></option>
                    <% if(funds.length > 0) { %>
                        <% funds.forEach(fund => { %>
                        <option value="<%= fund.fundId %>"><%= fund.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="year">Year</label>
                <select name="year">
                    <option value="None"></option>
                    <% if(budgetYear.length > 0) { %>
                        <% budgetYear.forEach(year => { %>
                        <option value="<%= year %>"><%= year %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="amount">Amount</label>
                <input type="text" id="amount" name="amount" >
                <label for="comment">Comment</label>
                <input type="text" id="comment" name="comment" >
                <input type="hidden" id="status" name="status" value="Active">
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>