<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="details content">
            <h1><%= global.churchName %></h1>
            <h2><%= budget.year %></h2>
            <div class="content" >
                <p><%= budget.fund %></p>
                <p><%= budget.type %></p>
                <p><%= budget.year %></p>
                <p><%= budget.amount %></p>
            <a class="edit blogs" href="/budgets/edit/<%= budget.budgetId %>">
                <img src="/pencil.svg" alt="edit icon">
            </a>
           
           <a class="delete blogs" href="/budgets/delete/<%= budget.budgetId %>">
            <img src="/trashcan.svg" alt="delete icon">
        </a>
    
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
            
    </body>

</html>