<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        
        <%- include('../partials/nav.ejs') %>

        <div class="create-blog content">
            <h1><%= global.churchName %></h1>
            <h2>Edit <%= budget.type %> Budget</h2>
            
                    <form action="/budgets/edited/<%= budget.budgetId %>" method="post">
                        <input type="hidden" id="churchId" name="churchId" value="<%= budget.churchId %>"" required>
                        <input type="hidden" id="typeId" name="typeId" value="<%= budget.typeId %>"" readonly>
                        <label for="year">Year</label>
                        <select name="year">
                            <option value="0"></option>
                            <% if(budgetYear.length > 0) { %>
                                <% budgetYear.forEach(year => { %>
                                    <% if(year === budget.year) { %>
                                        <option value= "<%= year %>" selected ><%= year %></option> 
                                        <% } else { %>
                                          <option value= "<%= year %>"><%= year %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                        <label for="fundId">Fund</label>
                        <select name="fundId">
                            <option value="0"></option>
                            <% if(funds.length > 0) { %>
                                <% funds.forEach(fund => { %>
                                    <% if(fund.name === budget.fund) { %>
                                        <option value= "<%= fund.fundId %>" selected ><%= fund.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= fund.fundId %>"><%= fund.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                        <label for="amount">Amount</label>
                        <input type="text" id="amount" name="amount" value="<%= budget.amount %>"" required>
                        <label for="comment">Comment</label>
                        <input type="text" id="comment" name="comment" value="<%= budget.comment %>"" >
                        <label for="status">Status</label>
                        <select name="status">
                            <option value="None"></option>
                            <% if(status.length > 0) { %>
                                <% status.forEach(statuz => { %>
                                    <% if(statuz.name === budget.status) { %>
                                        <option value= "<%= statuz.name %>" selected ><%= statuz.name %></option> 
                                        <% } else { %>
                                          <option value= "<%= statuz.name %>"><%= statuz.name %></option> 
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                        <button>Submit</button>
                    </form>
              

        </div>
        <%- include('../partials/footer.ejs') %>

    
    </body>

</html>