<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
          <%- include('../partials/nav.ejs') %>
          
        <div class="blogs content">
            <h1><%= global.churchName %></h1>
            <a href="/budgets/create/<%= churchId %>/Income">Add Income Budget</a>
            <a href="/budgets/create/<%= churchId %>/Expense">Add Expense Budget</a>
            <h2>Church Budget</h2>
            <% if( budgets === null) { %>
                <p>No budget data available</p>
               <% } else { %>
                <% if(budgets.length > 0) { %>
                    <% budgets.forEach(budget => { %>
                        <a class="single" href="/budgets/<%= budget._id %>" >
                    <h3 class="title"><%= budget.year %> </h3>
                    <p class="snippet"><%= budget.type %></p>
                    <p class="snippet"><%= budget.fund.name %></p>
                    <p class="snippet"><%= budget.amount %></p>
                    </a>
                    <% }) %>
                <% } %>
           <% } %>
            
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>