<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>

        <%- include('../partials/nav.ejs') %>
        <h1><%= global.churchName %></h1>
        <h2>Add New Property</h2>
        <div class="create-blog content">
            <form action="/staffs" method="POST">
                <input type="hidden" id="churchId" name="churchId" value="<%= churchId %>">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" >
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" >
                <label for="middleName">Middle firstName</label>
                <input type="text" id="middleName" name="middleName" >
                <label for="jobTitle">Title</label>
                <input type="text" id="jobTitle" name="jobTitle" >
                <label for="departmentId">Department</label>
                <select name="departmentId">
                    <option value="None"></option>
                    <% if(departments.length > 0) { %>
                        <% departments.forEach(department => { %>
                        <option value="<%= department._id %>"><%= department.name %></option>
                        <% }) %>
                    <% } %>
                </select>
                <label for="jobDescription">Job Description</label>
                <input type="text" id="jobDescription" name="jobDescription" >
                <label for="supervisor">Supervisor</label>
                <input type="text" id="supervisor" name="supervisor" >
                <label for="dateHired">Hire Date</label>
                <input type="date" id="dateHired" name="dateHired" value="<%= new Date().toISOString().substr(0,10) %>">
                <input type="hidden" id="status" name="status" value="Active">
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>

</html>